/*
Block : Always starts a new line and spans full width
Inline : Doesn't start a new line and spans only content

*/

.block{
    background: blue;
    color: white;
    width: 300px;
    margin: 2rem auto;
}
.inline{
    background: red;
    color: white;
}

body{
    text-align: center;
}